:root {
   --azul-escuro: #101828;
   --branco: #FFFFFF;
   --cinza: #667085;
   --cinza-medio: #3A404E;
   --vermelho: #8E2424;
   --vermelho-transparente: rgba(142, 36, 36, 0.050);
}
html, * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Inter', sans-serif;
   font-size: 100%;
   width: 100%;
}
.nav {
   align-items: center;
   display: flex;
   justify-content: space-around;
   padding: 1rem 0;
}
.nav_titulo {
   display: flex;
   align-items: center;
}
.titulo {
   color: var(--cinza-medio);
   font-size: 18px;
   padding: 0 8px;
}
.link {
   background: none;
   border-radius: 8px;
   color: var(--cinza);
   display: inline-block;
   font-weight: 500;
   margin-right: 32px;
   padding: 10px 18px;
   text-decoration: none;
}
#link_cadastrar {
   background-color: var(--vermelho);
   color: var(--branco);
}
.cabecalho {
   padding: 96px 0;
   text-align: center;
}
.cabecalho_titulo {
   color: var(--vermelho);
   padding: 12px 0;
}
.cabecalho_subtitulo {
   color: var(--azul-escuro);
   font-size: 48px;
   padding: 12px 0 36px 0;
}
.cabecalho_descricao {
   color: var(--cinza);
   font-size: 20px;
   margin: auto;
   width: 791px;
}
.metricas {
   display: flex;
   justify-content: space-between;
   padding: 0 96px 96px 96px;
}
.metricas_card {
   margin: 0 10px;
   width: 280px;
}
.metricas_titulo {
   color: var(--vermelho);
   font-size: 60px;
   font-weight: 600;
}
.metricas_subtitulo {
   color: var(--azul-escuro);
   font-size: 18px;
   padding: 12px 0 8px 0;
}
.metricas_descricao {
   color: var(--cinza);
   padding: 5px 0;
}
.vagas {
   padding: 100px 80px;
}
.vagas_talentos {
   margin-bottom: 64px;
   padding: 0 12px;
   text-align: center;
}
.talentos_titulo {
   background-color: var(--vermelho-transparente);
   border-radius: 16px;
   color: var(--vermelho);
   display: inline-block;
   padding: 4px 12px;
}
.talentos_subtitulo {
   color: var(--azul-escuro);
   font-size: 44px;
   padding: 20px 0;
}
.talentos_descricao {
   color: var(--cinza);
   font-size: 20px;
}
.talentos_img {
   margin-top: 64px;
   width: 1000px;
}
.vagas_disponivel {
   padding: 0 256px;
}
.vaga {
   margin-bottom: 64px;
}
.vaga_titulo {
   color: var(--azul-escuro);
   font-size: 20px;
}
.vaga_card {
   border: 1px solid #EAECF0;
   border-radius: 16px;
   cursor: pointer;
   margin: 32px 0;
   padding: 24px 24px 28px;
}
.card_titulo {
   color: var(--azul-escuro);
   font-size: 16px;
   margin-bottom: 32px;
}
.card_descricao {
   color: var(--cinza);
   display: inline-block;
   margin-right: 24px;
}